* {
	margin: 0;
	padding: 0;
}


#wrapper {
	width: 1200px;
	border: 1px solid silver;
	margin-left: auto;
	margin-right: auto;
}

header {
	margin: 75px 0px 100px 300px; 
}

header span{
	display: inline-block;
	margin-right: 120px;
}

.block_left, .block_right {
	width: 420px;
	display: inline-block;
	
}

.block_left {
	margin: 0 55px 0 150px;
}

.block_right {
	margin: 0 150px 0 0;
}

img {
	width: 420px;
	height: 280px;
	margin: 0 0 30px 0;
}

h2 {
	margin: 30px 0 30px 0;
}

p {
	margin: 0 0 140px 0;
}

header span:hover {
	color: green;
}