@import url(reset.css);
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300');


.wrapper {
	width: 100%;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

/* Меню */

.nav {
	margin: 65px 0px 70px 300px; 
	color: #666666;
	font-family: 'Playfair Display';
}


ul  li{
	list-style-type: none;
	display: inline-block;
	text-transform: uppercase;
	
}

a {
	text-decoration: none;
	color: #666666;
	padding: 5px;
}

a:hover {
	color: black;
}


.menu {
	margin-left: 80px;
}


/* Основной контент */

.block_left, .block_right {
	width: 420px;
	padding: 20px;
	display: inline-block;
	color: #666666;
	font-family: 'Playfair Display';
}

.block_left {
	margin: 0 16px 100px 130px;
}

.block_right {
	margin: 0 130px 100px 0;
}

.last_block {
	margin-bottom: 55px;
}

.block_left span {
	font-family: 'Ubuntu';
	color: #b4ad9e;
	font-size: 14px;
	text-transform: uppercase;
}

.block_right span {
	font-family: 'Ubuntu';
	color: #b4ad9e;
	font-size: 14px;
	text-transform: uppercase;
}

img {
	width: 420px;
	height: 280px;
	margin: 0 0 30px 0;
}

h2 {
	margin: 30px 0px 40px 0;
	font-size: 30px;
}

p {
	width: 420px;
	font-size: 14px;
	line-height: 1.5;
}


/* Кнопка */

button {
	display: inline-block;
	margin: 0 0 70px 510px;
	padding: 0;
	width: 160px;
	height: 60px;
	background-color: #fff;
	border: 1px solid black;
	color: #666666;
	font-family: 'Playfair Display';
	font-size: 20px;
}

