@import url(../fonts/fonts.css);
@import url(reset.css);

* {
	box-sizing: border-box;
}

body {
	font-size: 20px;
}

.wrapper {
	width: 320px;
	outline: 1px solid silver;
	margin: 0 auto;
}

.bg_top {
	background-image: url(../img/bg_min.png);
	background-repeat: no-repeat;
	padding-top: 30px;
}

header {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	margin-bottom: 30px;
	font-family: 'Montserrat-Bold', sans-serif;
}

nav ul {
	display: flex;
	flex-direction: row;
	font-size: 14px;
	line-height: 16px;
	margin-bottom: 120px;
	outline: 1px solid red;
}

nav li {
	margin-right: 1rem;
}

nav li:last-of-type{
	margin-right: 0rem;
}

nav a {
	text-decoration: none;
	color: #fff;
	padding: 3px;
}

nav li:last-of-type a {
	border: 2px solid #fff;
	border-radius: 20px;
	padding: 5px 10px;
}

.logo a{
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}

.content_top {
	display: flex;
	flex-direction: column;
	text-align: center;
	color: #fff;
}

.main_text li {
	font-size: 30px;
	line-height: 36px;
	text-transform: uppercase;
}

.main_text {
	margin-bottom: 20px;
	font-family: 'Montserrat-Bold', sans-serif;
}

.description li{
	font-family: 'Roboto-Light', sans-serif;
	font-size: 18px;
	line-height: 21px;
}

.description {
	margin-bottom: 20px;
}

.content_top button {
	display: block;
	width: 280px;
	height: 40px;
	margin: 0 auto;
	border: none;
	font-size: 14px;
	line-height: 17px;
	font-family: 'Montserrat-Bold', sans-serif;
	color: #fff;
	background-color: #ff4e50;
	border-radius: 30px;
	margin-bottom: 130px;
}

.partners {
	padding-top: 60px;
	padding-bottom: 60px;
	outline: 1px solid red;
}

.partners_h li {
	text-align: center;
	font-size: 22px;
	line-height: 26px;
	color: #333;
	font-family: 'Montserrat-Bold', sans-serif;
}

.partners_h {
	margin-bottom: 20px;
}

.partners_item {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-bottom: 35px;
}

.partners_item li {
	margin-bottom: 30px;
	width: 200px;
	position: relative;
	outline: 1px solid red;
}

.partners_item h3 {
	font-size: 14px;
	line-height: 17px;
	color: #333;
	font-family: 'Montserrat-Bold', sans-serif;
}

.partners_item span {
	font-size: 14px;
	line-height: 17px;
	color: #666;
	text-align: center;
	font-family: 'Roboto-Light', sans-serif;
}

.partners_item img {
	margin-bottom: 20px;
}

.partners_item li:first-of-type h3::before{
	content: url(../img/tv.png);
	position: absolute;
	left: 120px;
	top: 85px;
}

.partners_item li:nth-of-type(2) h3::before{
	content: url(../img/him.png);
	position: absolute;
	left: 120px;
	top: 85px;
}

.partners_item li:nth-of-type(3) h3::before{
	content: url(../img/cup.png);
	position: absolute;
	left: 120px;
	top: 85px;
}

.partners_item li:last-of-type h3::before{
	content: url(../img/telega.png);
	position: absolute;
	left: 120px;
	top: 85px;
}

.partners button {
	display: block;
	width: 280px;
	height: 40px;
	margin: 0 auto;
	font-size: 14px;
	line-height: 17px;
	font-family: 'Montserrat-Bold', sans-serif;
	border: 1px solid #ff4e50;
	border-radius: 30px;
	background-color: transparent;
	color: #ff4e50;
}

@media (min-width: 768px) and (max-width: 1439px) {
	.wrapper {
	width: 768px;
	outline: 1px solid silver;
	margin: 0 auto;
}

.bg_top {
	background-image: url(../img/bg_tablet.png);
	background-repeat: no-repeat;
	padding-top: 40px;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	outline: 1px solid red;
	margin-bottom: 150px;
	padding: 0 50px;

}

nav ul {
	margin-bottom: 0;
}


.main_text li {
	font-size: 52px;
	line-height: 62px;
}

.main_text {
	margin-bottom: 30px;
}

.description li {
	font-size: 24px;
	line-height: 29px;
	display: inline-block;
}

.description {
	margin-bottom: 30px;
}

.content_top button {
	width: 220px;
	height: 40px;
	margin-bottom: 230px;
	
}
.partners {
	padding-top: 70px;
	padding-bottom: 40px;
	outline: 1px solid red;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.partners_h {
	margin-bottom: 30px;
}

.partners_h li {
	display: inline-block;
}

.partners_item {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	max-width: 492px;
	outline: 1px solid red;
}

.partners_item li{
	width: 236px;
}

.partners_item li:nth-of-type(1) {
	order: 1;
	margin-right: 20px;
}

.partners_item li:nth-of-type(2) {
	order: 3;
	margin-bottom: 0px;
	margin-right: 20px;
}

.partners_item li:nth-of-type(3) {
	order: 2;
}

.partners_item li:nth-of-type(4) {
	order: 4;
	margin-bottom: 0px;
}
}

@media (min-width: 1440px){
	.wrapper {
	width: 1440px;
	outline: 1px solid silver;
	margin: 0 auto;
}

.bg_top {
	background-image: url(../img/bg_top.png);
	background-repeat: no-repeat;
	padding-top: 50px;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	outline: 1px solid red;
	width: 942px;
	margin: 0 auto;
	margin-bottom: 160px;
}

nav ul {
	margin-bottom: 0;
}


.main_text li {
	font-size: 52px;
	line-height: 62px;
}

.main_text {
	margin-bottom: 30px;
}

.description li {
	font-size: 24px;
	line-height: 29px;
	display: inline-block;
}

.description {
	margin-bottom: 30px;
}

.content_top button {
	width: 220px;
	height: 40px;
	margin-bottom: 220px;
	
}
.partners {
	padding-top: 70px;
	padding-bottom: 70px;
	outline: 1px solid red;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.partners_h li {
	display: inline-block;
}

.partners_h {
	margin-bottom: 40px;
}

.partners_item {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	outline: 1px solid red;
	width: 942px;
	align-items: flex-start;
	margin-bottom: 40px;
}

.partners_item li:nth-of-type(1) {
	order: 1;
	margin-right: 20px;
}

.partners_item li:nth-of-type(2) {
	order: 3;
	margin-bottom: 0px;
	margin-right: 20px;
}

.partners_item li:nth-of-type(3) {
	order: 2;
	margin-right: 20px;
}

.partners_item li:nth-of-type(4) {
	order: 4;
	margin-bottom: 0px;
}
}




