@import url(reset.css);
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Roboto:300,400,900');

* {
	
	box-sizing: border-box;
}

.wrapper {
	width: 1110px;
	margin: 0 auto;
	font-size: 16px;
	/*outline: 1px solid silver;*/
	padding: 35px 0 80px 0px;
	height: auto;
	overflow: hidden;
}

.logo {
	float: left;
	margin-left: 35px;
	text-decoration: none;
	color: #666666;
	font-size: 30px;
	line-height: 32px;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

.logo:first-letter{
	color: #33cc99;
	font-weight: 900;
}

.menu li a{
	list-style-type: none;
	text-decoration: none;
	color: #000;
	float: right;
	margin-right: 20px;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 14px;
	line-height: 11px;

}

.menu li a:hover{
	color: #33cc99;
}

.menu {
	height: auto;
	margin-bottom: 100px;
}

.clearfix:after{
	content: "";
	display: table;
	clear: both;
}

.gallery {
	height: auto;
	margin-bottom: 100px;
	font-family: 'Roboto', sans-serif;
	font-weight: black;
}

h2{
	text-align: center;
	font-size: 48px;
	line-height: 32px;
	color: #666666;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-weight: black;
}

h2:after{
	display: block;
	content: " ";
	height: 7px;
	width: 164px;
	background: #33cc99;
	margin: 30px auto 80px;
}

.featured {
	width: 22.9%;
	float: left;
	margin-right: 30px;
	background: #e9f0fd;
	height: auto;
	overflow: hidden;
	margin-bottom: 20px;
}

.featured h3{
	display: inline-block;
	width: 80%;
	height: 40px;
	background: #333333;
	color: #fff;
	font-size: 18px;
	line-height: 32px;
	text-transform: uppercase;
	padding: 5px 0 5px 5px;
} 

.price {
	display: inline-block;
	width: 20%;
	margin-left: -4px;
	height: 40px;
	background-color: #999999;
	color: #fff;
	font-size: 18px;
	line-height: 32px;
	text-transform: uppercase;
	padding: 5px 0 5px 10px;
}


.featured:nth-of-type(4n){
	margin-right: 0;
}


.featured:hover h3{
	background: #33cc99;
}

.featured:hover .price{
	background: #7fd9c7;
}


.section{
	float: left;
	width: 31.5%;
	margin-right: 30px;
}

.section:last-of-type{
	margin-right: 0px;
}

.section img{
	margin-bottom: 20px;
}

p:first-of-type{
	font-size: 18px;
	line-height: 26px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	color: #666;
}

p:first-of-type:after{
	display: block;
	content: " ";
	height: 3px;
	width: 136px;
	background: #33cc99;
	margin-top: 10px;
	margin-bottom: 30px;
}

p:last-of-type{
	margin-bottom: 20px;
	font-size: 14px;
	line-height: 26px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #666;
}


button{
	width: 160px;
	height: 50px;
	font-size: 14px;
	line-height: 26px;
	color: #fff;
	background: #33cc99;
	border: none;
	border-radius: 3px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}



