$main-color-top: #fff;
$top-dradient: linear-gradient(rgba(243,129,129,.9), rgba(252,227,138,.9));

$hover-nav: #fce38a;

$color-bg-team-btn: #f38181;

$team-hover-gradient:  linear-gradient(to bottom, rgba(243,129,129,0.7),rgba(252,227,138,0.5));

/*fonts*/
$mon-b:'Montserrat-Bold';
$ks-r:'KaushanScript-Regular';
$mon-r:'Montserrat-Regular';
$roboto-r:'Roboto-Regular';
$roboto-li:'Roboto-LightItalic';

